.uinn-bus2{
	padding:0.375em 0.625em;
}
.t-btn-bus2{
	background-image:url('myImg/t-btn-bus2.png');
}
.t-btn-bus3{
	background-image:url('myImg/t-btn-bus3.png');
}
.t-bus-icon{
	background-image:url('myImg/t-bus-icon.png');
}
.uwh-bus1{
	width:0.4375em;
	height:0.25em;
}
.umar-l-bus{
	margin-left:0.3125em;
}
.t-blu2{
	color:#0670b7;
}
.uinn-a15{
	padding:0.52em 0;
}
.uba1
{
	border:2px solid;	
}
.t-btn-a6{
	background-image:url('myImg/t-btn6.png');
}
.c-bla1{
	background-color:#E7A51B;
}
.t-btn-a3 {
	background-image: url('myImg/t-btn3.png');
}
