.t-btn-infor{
	background-image:url('myImg/t-btn7.png');
}
.t-btn-a3{
	background-image:url('myImg/t-btn3.png');
}
.uc-a-infor{
	-webkit-border-radius: 1.167em;
	border-radius: 1.167em;
}
.uwh-infor{
	width:1.167em;
	height:1.167em;
}
.c-blu3{
	background-color:#46b5ff;
}